body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  margin: 24px !important;
}

button {
  margin-top: 20px;
}

div {
  margin-bottom: 10px;
}
/* .question-container {
  margin: 24px;
} */
.header {
  display: flex !important;
  justify-content: center !important;
}
.main {
  margin: 30px;
}
